/* Styles for the container element */
.data-form {
  background-color: #1E1E1E;
  color: #D4D4D4;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Styles for the field input */
.field-input {
  margin-bottom: 10px;
}

/* Styles for the field name input */
.field-name-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D4D4D4;
  color: #D4D4D4;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  outline: none;
}

/* Styles for the field type dropdown */
.field-type-dropdown {
  background-color: transparent;
  border: none;
  color: #060303;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

/* Styles for the field delete button */
.field-delete-button {
  background-color: transparent;
  border: none;
  color: #D4D4D4;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  margin-right: 5px;
  outline: none;
}

/* Styles for the add field button */
.add-field-button {
  background-color: #007ACC;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px 10px;
  outline: none;
}

/* Styles for the nested fields container */
.nested-fields {
  margin-left: 20px;
}

.save-data{
  width: fit-content;
  background-color: #007ACC;
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border: none;
}